<div class="footer display-box-h">
    <div class="index flex-one" onclick="location.href = '#/'" d-class="{on: selected == 0}">广场</div>
    <!--<div class="welfare flex-one" onclick="location.href = '#/welfare'" d-class="{on: selected == 1}">售前必读</div>-->
    <div class="entry flex-one" onclick="location.href = '#/entry'" d-class="{on: selected == 1}" >卖室友</div>
    <div class="new-stu flex-one" onclick="location.href = '#/mine'" d-class="{on: selected == 2}" >本宝宝</div>
    <!--<div class="new-stu flex-one" d-on="click: $global.location.href = statistic.groupUrl" d-if="statistic.groupUrl">{{statistic.groupUrlDesc}}</div>-->
</div>